@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

body {
  text-align: center;
  background-image: url('');
  font-family: 'Bungee Shade', cursive;
  background-color: purple;
  color: gold;
}
